$gray: #888;
$yellowfade-start: #fce7a3;

@keyframes yellowfade {
  from {
    background: $yellowfade-start;
  }

  to {
    background: transparent;
  }
}

.changed-message {
  animation-duration: 1.5s;
  animation-name: yellowfade;
}

.message {
  width: 100%;

  :hover .close-x {
    display: block;
  }
}

.message-body {
  width: 100%;
}

.name-line {
  display: flex;
  justify-content: space-between;

  .close-x {
    color: $gray;
    cursor: pointer;
    display: none;
    font-family: helvetica;
  }
}

.update-message-form {
  width: 100%;
}

.update-message-input {
  width: 100% !important;
}
