$lightgray: #bbb;

.send-footer {
  border-top: 1px solid $lightgray;
  height: 1.9rem;
  margin-bottom: .188rem;
  padding: .094rem .188rem .188rem;
  width: 100%;
}

.send-form {
  width: 100%;
}

.send-input {
  width: 100%;
}
