$rather-light-gray: #dadada;
$lightgray: #bbb;
$ultralightpurp: rgb(255, 250, 255);
$verylightpurp: rgb(255, 247, 255);
$quitelightpurp: rgb(255, 243, 255);
$ratherlightpurp: rgb(255, 230, 255);
$grossdarkyellow: rgb(100, 100, 0);
$black75: rgba(0, 0, 0, .75);
$deepblue: rgb(6, 82, 171);
$deepblue75: rgba(6, 82, 171, .75);

.break {
  height: 0;
  width: 100%;
}

.chat-list {
  user-select: none;
}

.chat-list-item {
  background-color: $ultralightpurp;
  box-shadow: 1px 1px 3px 0 $black75;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: .188rem 0 .376rem .3rem;
  transition: background-color .2s, box-shadow .5s, transform .5s;
  width: 97.5%;

  &:hover {
    background-color: $quitelightpurp;
    $ratherlightpurp: rgb(255, 243, 255);
    box-shadow: 2px 2px 3px 0 $black75;
    transform: translate(-1px, -1px);
    transition: background-color .3s, box-shadow .1s, transform .1s;
  }

  &:active {
    background-color: $ratherlightpurp;
    box-shadow: 0 0 2px 0 $black75;
    transform: translate(1px, 1px);
  }

  > .topline {
    border-bottom: 1px dotted $lightgray;
    color: $deepblue;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;
    padding: 0 .188rem;
    width: 100%;
  }

  > .message-preview {
    font-style: italic;
    padding: 0 .376rem;
  }
}

.chat-list-item-array {
  flex-grow: 1;
  flex-shrink: 0;
  // = viewport - Header - chat-list-title
  height: calc(100vh - 82px - 46px);
  overflow-y: scroll;
  padding-bottom: .564rem;
  padding-top: .094rem;
}

/* bigger desktop width */
@media (min-width: 601px) {
  .chat-list-item-array {
    // = viewport - Header - chat-list-title
    height: calc(100vh - 100px - 46px);
  }
}

/* mobile width */
@media (max-width: 450px) {
  .chat-list-item-array {
    // = viewport - Header - chat-list-title
    height: calc(100vh - 170px - 46px);
  }
}

.chat-list-title {
  border-bottom: 1px solid $lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  padding-bottom: .367rem;
  padding-left: .438rem;
  padding-right: .438rem;
}

// .online-status {
//   justify-self: self-end;
// }

.target-user-input {
  width: 100%;
}
