$rather-light-gray: #dadada;
$black75: rgba(0, 0, 0, .75);

.break {
  height: 0;
  width: 100%;
}

.chat-list-item {
  box-shadow: 1px 1px 3px 0 $black75;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: .188rem 0 .188rem .3rem;
  width: 97.5%;
}

.chat-list-title {
  display: flex;
  justify-content: space-between;
  padding-left: .438rem;
  padding-right: .438rem;
}

// .online-status {
//   justify-self: self-end;
// }

.message-preview {
  font-style: italic;
  padding: 0 .376rem;
}

.target-user-input {
  width: 100%;
}

.topline {
  border-bottom: 1px dotted $rather-light-gray;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-between;
  padding: 0 .188rem;
  width: 100%;
}
