$charcoal: #ccc;

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;
  padding: 2rem;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.container {
  flex-grow: 1;
  height: calc(100vh - 170px);
  padding: 0;
}

.home {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;

  h2 {
    color: $charcoal;
    margin: 0;
    text-align: center;
  }
}


.root,
body,
html {
  height: 100vh;
  overflow: hidden;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
